<%- include('partials/header') %>
<body style="text-align:center;">
  <h1>You logged in successfully.</h1> <br>
  <img src="<%= img %>" alt=""> <br><br><br>
  <h3> First Name: <%=name.givenName%> <%= name1 %> <br> Last Name: <%= name.familyName %> </h3>
  <h3> Username: <%=username%></h3>
  <h3> Your registered number: <%= userid %> </h3>
  <div style="margin-bottom: 13rem;"></div>
</body>
<%- include('partials/footer') %>
